body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:545px;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:545px;
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:75px;
  width:150px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u2810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u2811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:77px;
  height:19px;
}
#u2811p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:74px;
  height:6px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
#u2811p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:6px;
}
#u2811p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-330deg);
  -moz-transform:rotate(-330deg);
  -ms-transform:rotate(-330deg);
  transform:rotate(-330deg);
}
#u2811p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2811p002 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
#u2811p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:122px;
  width:68px;
  height:1px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u2811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:91px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:545px;
  width:1361px;
  height:91px;
}
#u2812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:319px;
  width:96px;
  height:21px;
}
#u2813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:21px;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:179px;
  width:313px;
  height:21px;
  text-align:left;
}
#u2814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u2815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:113px;
  width:111px;
  height:27px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:73px;
  height:22px;
}
#u2816p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:66px;
  height:6px;
}
#u2816p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:6px;
}
#u2816p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:26px;
  height:22px;
}
#u2816p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u2816p002 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
}
#u2816p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:170px;
  width:61px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
